body {
    --black: #4A4947;
    --brown: #B17457;
    --cream: #D8D2C2;
    --white: #FAF7F0;
    background-color: var(--white);
    color: var(--black);
}

.container-fluid {
    padding: 0;
}

/* Navbar start */
.navbar {
    display: flex;
    padding: 1.2rem 0;
    justify-content: left;
    border-bottom: 1px solid var(--black);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.056);
    position: fixed;
    background-color: var(--white);
    width: 100%;
}


.navbar h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 3rem;
    margin-left: 8rem;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    margin: 0 2rem;
    transition: all 1s ease;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .icon_nav a {
    text-decoration: none;
    color: black;
}

.navbar .icon_nav {
    margin-left: 4rem;
}

.navbar .icon_nav i {
    margin-right: 1rem;
}

.navbar .icon_nav .btn_icon{
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s linear;
}


.navbar .icon_nav .btn_icon:hover {
    background-color: var(--black);
    color: var(--white);
}
/* Navbar End */













/* Ipan punya start */
.blog_bar {
    background-color: var(--cream);
    padding-top: 12rem;
    padding-bottom: 8rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;


}

.blog-list{
    padding: 5rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 0rem;
}
.blog-list .col-md-4 h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.blog-list .col-md-4 img {
    width: 100%;
}

.blog-list .col-md-4 .blog-para{
padding-left: 1rem;
}

.blog-list .col-md-4 {
    min-height: 520px;
}


.blog-list .col-md-4 p {
    font-size: 0.9rem;
}
.blog-list .col-md-4 a {
    color: var(--brown);
    font-weight: 700;
    text-decoration: none;
}












/* Ipan punya end */
















/* Firas punya start */
    /* jumbo start */
.jumbo {
    padding: 12rem 14rem;
}

.jumbo span {
    border: 1px solid var(--black);
    padding: 0.3rem 1.5em;
    border-radius: 20px;
    font-weight: 600;
}

.jumbo h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    font-weight: normal;
}

.jumbo p {
    margin-top: 1rem;
    width: 70%;
    font-weight: normal;
    margin-bottom: 3rem;
}

.jumbo a {
   color: var(--black);
   text-decoration: none;
   padding: 0.5rem 0.8rem;
   border:1px solid var(--black);
   border-radius: 5px;
   transition: all 0.3s linear;
}

.jumbo a:hover {
    background-color: var(--black);
    color: var(--white);
}

.bottom-jumbo {
    display: flex;
    align-items: center;
    padding-top: 0.4rem;
    justify-content: space-between;
}

.jumbo hr {
    margin-top: 4rem;
}

.bottom-jumbo p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.bottom-jumbo a {
    border-radius: 50%;
    color: var(--white);
    background-color: var(--black);
    transition: all 0.5s linear;
}

.bottom-jumbo a:hover {
    background: none;
    color: var(--black);
}


    /* jumbo end */


    /* tentang start */
.tentang {
    background-color: var(--cream);
}
    /* tentang end */
/* Firas punya end */




/* Ivander punya start */
.blog_bar {
    background-color: var(--cream);
    padding-top: 12rem;
    padding-bottom: 8rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;


}

.blog-list{
    padding: 5rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 0rem;
}
.blog-list .col-md-4 h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.blog-list .col-md-4 img {
    width: 100%;
}

.blog-list .col-md-4 .blog-para{
padding-left: 1rem;
}

.blog-list .col-md-4 {
    min-height: 520px;
}


.blog-list .col-md-4 p {
    font-size: 0.9rem;
}
.blog-list .col-md-4 a {
    color: var(--brown);
    font-weight: 700;
    text-decoration: none;
}
/* Ivander punya end */





/* Hisyam punya start */

/* Hisyam punya end */