body {
    --black: #4A4947;
    --brown: #B17457;
    --cream: #D8D2C2;
    --white: #FAF7F0;
    background-color: var(--white);
    color: var(--black);
}

.container-fluid {
    padding: 0;
}

/* Navbar start */
.navbar {
    display: flex;
    padding: 1.2rem 0;
    justify-content: left;
    border-bottom: 1px solid var(--black);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.056);
    position: fixed;
    z-index: 99999;
    background-color: var(--white);
    width: 100%;
}


.navbar h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 3rem;
    margin-left: 8rem;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    margin: 0 2rem;
    transition: all 1s ease;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .icon_nav a {
    text-decoration: none;
    color: black;
}

.navbar .icon_nav {
    margin-left: 4rem;
}

.navbar .icon_nav i {
    margin-right: 1rem;
}

.navbar .icon_nav .btn_icon{
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s linear;
}


.navbar .icon_nav .btn_icon:hover {
    background-color: var(--black);
    color: var(--white);
}
/* Navbar End */













/* Ipan punya start */
 .buku-navbar {
    background-color: var(--cream);
    padding-top: 8rem;
    padding-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}


.buku-list {
    padding: 2rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 0rem;
}

.buku-list .col-md-4 {
    height: 28rem;
    background-color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buku-list .col-md-4 h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    
}
.buku-list .col-md-4 h2:hover {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: var(--brown);
    transition: all 0.5s ease-in-out;
    
}

.buku-list .col-md-4 img {
    width: 50%;
    
    
}

.buku-list .col-md-4 img:hover {
    width: 55%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
    
}

.buku-list .col-md-4 .buku-para {
    padding-top: 0.1rem;
}

.buku-list .col-md-4 p {
    font-size: 0.9rem;
}

.buku-list .col-md-4 p:hover {
    font-size: 1rem;
    color: var(--brown);
    transition: all 0.5s ease-in-out;
}

.buku-list .col-md-4 a {
    color: var(--brown);
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

.buku-list .col-md-4 a:hover {
    color: var(--brown);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.buku-list .col-md-4 .tambahkan-buku{
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    border: 2px solid ;
    padding: 4px 5px;
    border-radius: 5px;
}

.buku-list .col-md-4 .tambahkan-buku:hover{
    background-color: var(--brown);
    color: var(--white);
    padding: 4px 15px;
    border: 2px solid ;
    transition: all 0.5s ease-in-out;
    font-weight: 555;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



/* Komentar start*/







.komentar-ipan {
    background-color: var(--white);
    margin-bottom: 5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    margin-top: 2rem;
    
}


.komentar-flex{
    padding: 2rem 20rem;
}
.komentar-ipan .komentator {
    width: 6rem;
    left: 21.5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.komentar-ipan .komentar-flex p {
    font-size: 0.8rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.komentar-ipan .komentar-flex h2 {
    margin-top: 1.7rem;
    font-size: 0.95rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}




/* radio button start */
.radio-input-ipan input {
    display: none;
    align-items: center;
    justify-content: center;
    
  }
  
  .radio-input-ipan {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
    left: 15rem;
    top: 2rem;
  }
  
  .radio-input-ipan label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 4);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
  }
  
  .radio-input-ipan label:has(input:checked) {
    color: #fff;
  }
  
  .radio-input-ipan label:has(input:checked) ~ .selection {
    background-color: rgb(11 117 223);
    display: inline-block;
  }
  
  .radio-input-ipan label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/4));
  }
  
  .radio-input-ipan label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/4));
  }
  
  .radio-input-ipan label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/4));
  }
  
  .radio-input-ipan label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/4));
  }


/* radio button end */

/* Komentar end */







/* Login Ipan start */

.wrapper-nav{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 4rem;
    
}

.wrapper-nav-2{
    background-color: var(--white);
    padding: 5rem 7rem;
    border-radius: 100px 0 100px 0;
    box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);
-webkit-box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);

}

.wrapper-nav-3{
    background-color: var(--white);
    padding: 3rem 8rem;
    border-radius: 0 100px 0 100px;
    box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);
-webkit-box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 9px 32px -4px rgba(0,0,0,0.51);

}
.wrapper-nav-2 h1{
    font-size: 36px;
    text-align: center;
}
.wrapper-nav-3 h1{
    font-size: 36px;
    text-align: center;
}

.wrapper-nav  ul{
    list-style: none;
    
}

.wrapper-nav  ul li label{
    margin-top: 0.5rem;
}
.wrapper-nav  ul li input{
    padding-right: 3.8rem;
    border-radius: 5px;
    border: none;
}
.buton-ipan{
    background-color: var(--brown);
    color: white;
    justify-content: center;
    padding: 2px 102px;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.buton-ipan2{
    background-color: var(--brown);
    color: white;
    justify-content: center;
    padding: 2px 94px;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.wrapper-nav p{
    text-align: center;
    
}








/* Login Ipan end */











/*


.buku-list{
    padding: 5rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 0rem;
    
    
    
    
}

.buku-list .col-md-4 {
    min-height: 520px;
    background-color: var(--cream);
    padding: 20rem;
    display: flex;
    width: 29%;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.buku-list .col-md-4 h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.buku-list .col-md-4 img {
    width: 50%;
}

.buku-list .col-md-4 .buku-para{
padding-left: 1rem;
}

.buku-list .col-md-4 {
    min-height: 520px;
    background-color: var(--cream);
    padding: 10px;
}


.buku-list .col-md-4 p {
    font-size: 0.9rem;
    margin-bottom:2rem ;
}
.buku-list .col-md-4 a {
    color: var(--brown);
    font-weight: 700;
    text-decoration: none;
    
}
perbaiki agar semuanya di tengah */








/* Ipan punya end */
















/* Firas punya start */
    /* jumbo start */
.jumbo {
    padding: 12rem 10rem;
}

.jumbo span {
    border: 1px solid var(--black);
    padding: 0.3rem 1.5em;
    border-radius: 20px;
    font-weight: 600;
}

.jumbo h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    font-weight: normal;
}

.jumbo p {
    margin-top: 1rem;
    width: 70%;
    font-weight: normal;
    margin-bottom: 3rem;
}

.jumbo a {
   color: var(--black);
   text-decoration: none;
   padding: 0.5rem 0.8rem;
   border:1px solid var(--black);
   border-radius: 5px;
   transition: all 0.3s linear;
}

.jumbo a:hover {
    background-color: var(--black);
    color: var(--white);
}

.bottom-jumbo {
    display: flex;
    align-items: center;
    padding-top: 0.4rem;
    justify-content: space-between;
}

.jumbo hr {
    margin-top: 4rem;
}

.bottom-jumbo p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.bottom-jumbo a {
    border-radius: 50%;
    color: var(--white);
    background-color: var(--black);
    transition: all 0.5s linear;
}

.bottom-jumbo a:hover {
    background: none;
    color: var(--black);
}


    /* jumbo end */


    /* tentang start */
.tentang {
    background-color: var(--cream);
    padding: 8rem 10rem;
    padding-bottom: 0;
}

.tentang .owner {
    width: 38%;
}

.tentang h2 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.tentang p {
    font-size: 0.95rem;
}

.tentang .d-flex {
    align-items: center;
    margin-top: 2rem;
}

.tentang .d-flex p {
    margin: 0;
    margin-left: 1.5rem;
    font-weight: 600;
}

.tentang .images-tentang {
    width: 100%;
}


    /* kelebihan start*/
.kelebihan {
    margin-top: 7rem;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.kelebihan h2 {
    text-align: center;

}

.kelebihan .col-md-3 {
    background-color: var(--white);
    padding: 1.3rem;
    margin-top: 1rem;
    border-radius: 5px;
    width: 23%;
}

.kelebihan i {
    background-color: var(--brown);
    padding: 0.8rem 1rem;
    color: var(--white);
    border-radius: 5px;
}

.kelebihan h5 {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.kelebihan p {
    margin: 0;
}



/* kolkesi */
#koleksi {
    margin-top: 10rem;
    width: 100%;
    height: 350px;
    position: relative;
}

#koleksi h3 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

#koleksi P {
    width: 90%;
}

#koleksi img {
    width: 50%;
    position: absolute;
    z-index: 76;
}

.koleksi-btn {
    margin-top: 2rem;
    display: flex;
    gap: 30px;
}

.koleksi-btn a {
    color: var(--black);
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all linear 0.2s;
}

.koleksi-btn a:hover {
    background: var(--brown);
}

.koleksi-btn .btn-login {
    background: none;
    border: 1px solid var(--black);
    color: var(--black);
}

.koleksi-btn .btn-login:hover {
    background-color: var(--brown);
    color: var(--white);
    border: none;
}
    /* tentang end */



    /* perpus star */
.perpustakaan {
    background-color: var(--white);
    padding: 9rem 10rem;
    padding-bottom: 15rem;
    position: relative;
}

.perpustakaan h3 {
    font-size: 2rem;
}

.perpustakaan

.lokasi-perpus {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--black);
}

.lokasi-perpus a {
    color: var(--black);
    text-decoration: none;
}

.lokasi-perpus span {
    color: var(--brown);
}
    /* perpus end */



    /* blog start */
    .blog {
        position: absolute;
        display: flex;
        width: 78%;
    }

    .blog .col-md-6 {
        margin-top: 1rem;
        padding: 0;
    }

    .blog a{
        color: var(--black);
        text-decoration: none;
    }

    .blog img {
        width: 95%;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
    }

    .blog h5 {
        width: 90%;
        margin-top: 1rem;
    }

    .blog p {
        width: 85%;
    }
    /* blog end */


    /* best-seller start */
    .best-seller {
        background-color: var(--cream);
        padding: 9rem 10rem;
        padding-top: 28rem; 
        text-align: center;   
    }

    .best-seller img {
        width: 100%;
        transition: 0.5s ease-in-out;
    }

    .best-seller h3 {
        margin-bottom: 2rem;
       
    }

    .best-seller img:hover {
        scale: 1.1;
    }

    /* best-seller end */


    /* footer start */
    .footer {
        background-color: var(--cream);
        padding: 0rem 10rem;
        padding-bottom: 5rem;
    }

    .footer .col-md-12 {
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }

    .footer .col-md-12 ul {
        display: flex;
        gap: 2.3rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        margin: 0;
    }

    .footer .col-md-12 ul a {
        color: var(--black);
        text-decoration: none;
    }

    .footer .col-md-12 ul a:hover {
        text-decoration: underline;
    }

    .social-footer li {
        padding: 0.4rem 0.8rem;
        border: 1px solid var(--black);
        border-radius: 50%;
    }



    .footer .col-md-8, .footer .col-md-4  {
        padding: 3rem 0;
    }

    .footer-pinjam {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-pinjam h1 {
        font-size: 3.7rem;
        font-weight: 500;
    }

    .footer-pinjam a {
        font-size: 1.8rem;
        color: var(--white);
        background-color: var(--black);
        padding: 0rem 0.4rem;
        border-radius: 50%;
    }

    .footer-copy {
        display: flex;
        gap: 5px;
        margin-top: 7rem;
    }

    .footer-copy a {
        color: var(--black);
        text-decoration: none;
    }
    

    .footer-copy a:hover {
        text-decoration: underline;
    }

    .footer .col-md-4 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 2rem;
    }

    .footer .subs {
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .footer .subs a {
        color: var(--black);
        text-decoration: none;
        text-align: center;
        padding: 0.2rem 0.8rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--black);
    }

    .footer .subs p {
        margin: 0;
    }

    .footer .subs a:hover {
        background-color: var(--black);
        color: var(--white);
    }
    /* footer end */
/* Firas punya end */




/* Ivander punya start */
.blog_bar {
    background-color: var(--cream);
    padding-top: 12rem;
    padding-bottom: 8rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;


}

.blog-list{
    padding: 5rem 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding-bottom: 0rem;
}
.blog-list .col-md-4 h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.blog-list .col-md-4 img {
    width: 100%;
}

.blog-list .col-md-4 .blog-para{
padding-left: 1rem;
}

.blog-list .col-md-4 {
    min-height: 520px;
}


.blog-list .col-md-4 p {
    font-size: 0.9rem;
}
.blog-list .col-md-4 a {
    color: var(--brown);
    font-weight: 700;
    text-decoration: none;
}
/* Ivander punya end */





/* Hisyam punya start */

/* Hisyam punya end */